@import "./../../styles/variables.css";

.main {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.viewAll {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sec-body);
  background-color: #fff;
  padding: 1em;
  transition-duration: 0.4s;
  border: 2px solid #3b2d2d;
  cursor: pointer;
  margin-top: 1.5em;
  margin-left: auto;
  justify-self: flex-end;
  align-self: flex-end;
}

.viewAll:hover {
  background-color: #3b2d2d;
  color: #fff;
}
