@import "./../../styles/variables.css";

.footer {
  background-color: #3b2d2d;
  width: 100%;
  display: flex;
  color: white;
  margin-top: auto;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid #b1abab;
}

.policy {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.policy a:first-child {
  font-family: Philosopher;
}

.policy a:nth-child(2) {
  font-size: .85rem;
}

.navigation {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3em;
  flex-wrap: wrap;
}

.navigation a {
  margin: .5em;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.catalog a {
  width: 100%;
  padding: .5em 1em;
  background-color: #fff;
  color: #3b2d2d;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2em 0;
}

.meta p {
  margin: 0;
}

@media (max-width: 1250px) {
  .catalog a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog a svg {
    margin-left: 0;
  }
}

@media (max-width: 950px) {
  .links {
    flex-direction: column;
  }

  .policy {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .navigation {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .catalog {
    display: none;
  }
}
